__pycache__
**/logs/

# Ignore everything in the notes directory except notes.pdf (leaves out the files needed for the latex of the notes)
notes/*
!notes/notes.pdf
!notes/ISLP_prerequisites.pdf

projects/tmp/*
**/tmp/*
**/tmp.*
**/tmp

**/.ipynb_checkpoints/**
